@use '../../styles/abstract/' as a;

.courseSection {
  width: 100%;
  min-height: 100vh;
  @include a.centerItem;
  margin-top: 7.9rem;

  @include a.breakpoint(tablet) {
    margin-top: 0;
  }
}

.coursesContainer {
  width: 100%;
  max-width: a.$max-width;
  height: 100%;
  padding-inline: a.$padding-small;
  @include a.centerItem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  position: relative;

  @include a.breakpoint(tablet) {
    padding-inline: a.$padding-medium;
    margin-top: 10em;
  }
  @include a.breakpoint(desktop) {
    padding-inline: 0;
    margin-top: 0;
  }

  h3 {
    font-size: a.$font-30;
    letter-spacing: 0.05em;
    margin-right: auto;
    margin-block: 0;
  }
}

.sliderContainer {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

.cardContainer {
  padding-inline: 6px;
  width: 100%;
  height: 100%;

  border-radius: a.$borderRadius;

  @include a.breakpoint(tablet) {
    padding-inline: 10px;
  }
}

.card {
  width: 100%;
  height: 100%;
}

.cardImageContainer {
  height: 30vh;
  width: 100%;

  @include a.centerItem;
  flex-direction: column;
  position: relative;
  border-top-right-radius: a.$borderRadius;
  border-top-left-radius: a.$borderRadius;

  &__imageContainer {
    width: 100%;
    height: 100%;
    border-top-right-radius: a.$borderRadius;
    border-top-left-radius: a.$borderRadius;

    img {
      object-fit: fill;
      border-top-right-radius: a.$borderRadius;
      border-top-left-radius: a.$borderRadius;
    }
  }

  &__preview {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: a.$overlay;
    @include a.centerItem;
    gap: 0.6em;
    cursor: pointer;

    img {
      display: block;
      height: max-content;
      width: 1.3rem;
      margin-block: auto;
    }

    p {
      margin-block: auto;
      margin-top: 0.5em;
      font-size: a.$font-18;
      text-transform: capitalize;
    }
  }
}

.cardTextContainer {
  width: 100%;
  height: 74vh;
  @include a.centerItem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-inline: 2em;
  padding-bottom: 2em;
  background: a.$opaqueBackground;
  border-bottom-right-radius: a.$borderRadius;
  border-bottom-left-radius: a.$borderRadius;

  @include a.breakpoint(tablet) {
    height: 78vh;
  }

  @include a.breakpoint(slidebreak) {
    height: 82vh;
  }
  @include a.breakpoint(desktop) {
    height: 70vh;
  }

  h4 {
    font-size: a.$font-23;
    text-transform: uppercase;
    line-height: 1.9;
    word-spacing: 0.2em;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__package {
    text-transform: uppercase;
    font-size: a.$font-13;
    padding: 0.5em 1.3em;
    margin-top: 1em;
    border-radius: a.rem(2);
  }

  &__text {
    text-align: left;
    line-height: 2rem !important;
    font-size: a.$font-15;
    font-weight: a.weight(regular);
  }

  &__buttonContainer {
    width: 100%;
    margin-top: auto;
    @include a.centerItem;
    justify-content: space-between;

    .playButton {
      width: 9rem;
      height: 3rem;
      color: a.$Text;
      background: a.$blueBackground;
      border-radius: a.$borderRadius;
      outline: none;
      border: none;
      gap: 0.7em;
      @include a.centerItem;
      font-size: 0.95rem;
      cursor: pointer;

      &__playIcon {
        margin-block: auto;
        font-size: 1.3rem;
      }
    }

    p {
      margin-block: auto;
      font-style: oblique;
    }
  }
}
.customButton {
  width: 4.5rem;
  height: 4.5rem;
  @include a.centerItem;
  @include a.transition;
  position: absolute;
  top: 45%;
  cursor: pointer;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.customPrev {
  left: 0;
}

.customNext {
  right: 0;
}

.arrowIcons {
  font-size: 3.5rem;

  color: rgb(47, 179, 231);
  &:hover {
    color: rgb(75, 197, 245);
  }
}

.green {
  background: rgb(7, 167, 113);
}

.orange {
  background: rgb(202, 134, 8);
}
