//space
$margin-tiny: 0.5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;

// max-width
$max-width: 1280px;

// padding
$padding-medium: 2em;
$padding-small: 1em;

// borderRadius
$borderRadius: 7px;

//opacity
$hover: 0.6;

//line height
$line-height: 1.6;

//font
$font-12: 0.75rem;
$font-13: 0.84rem;
$font-14: 0.88rem;
$font-15: 0.9375rem;
$font-16: 0.98128rem;
$font-17: 1.04234rem;
$font-18: 1.125rem;
$font-19: 1.1875rem;
$font-23: 1.3375rem;
$font-24: 1.5rem;
$font-25: 1.575rem;
$font-30: 1.875rem;
$font-size: 2rem;
$font-32: 3rem;
